section{
  border-radius: 20px;
  padding:0 50px 40px 50px !important;
  margin: 40px auto;
  box-shadow: inset 2px -2px 5px 0px rgba(0,0,0,0.6),inset -4px 4px 5px 0px rgba(0,0,0,0.6);
  p{
    padding-bottom: 38px;
    font-size: 1.8rem;
  }
}