#contact{
  form{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    .col-12, .col-md-6{
      margin-bottom: 20px;
    }
    button{
      margin: 10px 20px 0 20px;
      width: 150px;
      font-family: $secondFont;
      font-size: 1.3rem;
    }
  }
}
#email:invalid{
  border-color: #dc3545;
}