#loisir{
  .row{
    text-align: center;
  }
  .vignette{
    margin: auto;
    position: relative;
    width: 200px;
    height: 230px;
    z-index: 0;
    &:hover{
      transform: scale(1.2);
      transition: transform 300ms;
      z-index: 1;
      img{
        opacity: 0.6;
        transition: opacity 300ms;
      }
      .imgtext{
        opacity: 1;
        transition: opacity 300ms;
      }
    }
    img{
      border-radius: 10px;
      box-shadow: 5px 5px 10px black;
    }
    .imgtext{
      position: absolute;
      width:200px;
      height: 50px;
      top: 75px;
      left: 0;
      font-size: 2rem;
      text-shadow: 3px 3px 2px $primaryColor;
      opacity: 0;
    }
  }
}