// COULEURS

$primaryColor : #1e2232 ;
$secondColor : #fff;
$tagColor: #2196f3;
$fondblancColor: #cdcdcd ;
$fondblancColorBis: #dbdbdb ;

$multiColor:linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
#0000ff, #00ff00,#ffff00, #ff0000);

// POLICES 

$primaryFont : Caveat ;
$secondFont : Bangers ;

// FORMES 

$rounded : 50% 50% 50% 50%;